@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --bg-color-white: #FFFFFF;
  --bg-color-dark: #1a2b3c;
  --bg-color-light: #273e55;
  --text-color-black: #000000;
  --text-color-grey: #fefefe;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}


/* ============= Footer =============== */