@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

/* ========== Header ========= */
.mainnav {
  display: flex;
  justify-content: center;
  margin-bottom: 2px;
  border-bottom: 2px solid #4a7815;
  background-color: black;
  color: aliceblue;
  padding: 15px 0px;
}

.list-items {
  padding: 2px 15px;
  font-weight: 700;
}

.list-group {
  display: flex;

  /* flex-direction: row;
  justify-content: center; */
}

/* ============= Footer =============== */